.login-container{
    background-color: grey;
    opacity: 0.8;
    border:1px solid grey;
    border-radius: 10px;
    padding: 20px;
    width:50%;
    box-shadow: 10px 10px 10px grey;
}
.login-container input{
    width:100%;
    border-radius: 10px;
    padding: 7px ;
    border: none;
    outline-color: beige;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}