.categories-container{
    padding: 15px;
}

.categories-box{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px 0px;
}
@media (max-width:950px){
    .header-top{
        display: none !important;
    }
    .categories-box{
    display: block;
    justify-items: center;
}
}