.aboutus{
    background-image: url('./img/about-banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.img-cont img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.img-cont img:hover{
    transform: scale(1.1);
}
.our{
     font-family: "Outfit", sans-serif;
}
.next1, .prev1{
   color: black;
    font-size: 30px;
}
.next1{
    right:80px
}
.prev1{
    left:80px
}
@media (max-width:680px){
    .next1{
    right:10px;
    top:280px;
}
.prev1{
    left:10px;
    top:280px;
}
}
@media (max-width:500px){
    .next1{
        display: none;
    }
     .prev1{
        display: none;
    }
}
.women-img{
    border-radius: 50%;
    border: 8px solid white;
}
.about-section{
    position: relative;
}
.mySwiper2::after{
content: "";
    position: absolute;
    top: calc(0% - -90px);
    font-size: 20px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    background-color:#f9f4f3;
}
.swiper-pagination-bullet{
    background: transparent !important;
    width:14px !important;
    height: 14px !important;
    border: 1px solid black;
}
.swiper-pagination-bullet-active{
    background: black !important;
}
.skilled{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}
@media (max-width:700px){
    .skilled{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}
}
