.faq-section{
    background-image: url('img/about-banner.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.question{
    padding: 60px 20px;
}
.faq-list li{
    margin: 7px 0px;
    font-weight: 600;
}
.faq-list li:hover{
 color: brown;
}
.hvr-underline-from-center:before{
    background-color: brown !important;
    height: 2px !important;
}