
    .swiper-slide1 {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid grey;
      border-radius: 10px;
    }

    .swiper-slide1 img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      
    }
    .mySwiper2 {
      height: 80%;
      width: 100%;
    }
    .mySwiper{
     height: 50%;
      width: 100%;
      margin-top: 30px;   
    }

    .next1{
        border:1px solid black;
        padding: 10px 20px;
        border-radius: 50%;
        background-color: white;
        border: none;
        color:black;
        box-shadow: 0 5px 6px grey;
        right:10px !important
    }
    .prev1{
        border:1px solid black;
        padding: 10px 20px;
        border-radius: 50%;
        background-color: white;
        border: none;
         box-shadow: 0 5px 6px grey;
        color:black;
        left:10px !important;
    }
    .color{
        height: 10px;
        width: 10px;
        padding: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: green;
        vertical-align: middle;
    }
    .count{
        border: 1px solid grey;
        padding: 10px;
        display: flex;
        background-color:pink;
        color: brown;
    }
    .size li{
        border: 1px solid black;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid grey;
    }
    .counter-btn{
        display: inline-block;
        padding: 10px 10px;
        border-radius: 50px;
        border: 1px solid grey;
        background-color: white;
    }
    .btn-3{
        border: none;
        background-color: white;
        padding: 0px 10px;
    }
    .add{
        padding: 10px ;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size: 20px;
    }
    .brand li{
        font-size: 20px;
        font-weight: bold;
         opacity: 0.6;
    }
    .brand li:hover{
        font-weight: bold;
        opacity: 0.8;
    }
    .payment img{
     width:50px;
     height: 50px;
    }
    .payment-card{
        padding: 10px ;
        background-color: rgb(214, 203, 205);
    }
.icon-card{
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px ;
}
.product-1{
    border-radius: 50%;
}

.desc li{
    padding: 10px 0px;
}
.rev-btn{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: 500;
    transition: all 0.5s ease;
}
.rev-btn:hover{
    background-color: black;
    color: white;
}
.accordion-item{
    border-radius: none !important;
    border: none;
    border-top: 1px solid grey;
    border-bottom: none;
}
.accordion-button::after{
     background-image: none !important;
     transform: rotate(0deg) !important;
}


.accordion-button::after{
     content: "\002B";
     font-size: 20px;
     
}
.accordion-button:not(.collapsed)::after{
    content: '\2212';
    font-size: 20px;
   
}
.accordion-button:not(.collapsed){
    color: black !important;
    background-color: white !important;
}
.accordion-button:focus{
    box-shadow: none;
}
.front-img{
    display: block;
}
.back-img{
    display: none;
}
.img-content:hover .front-img{
    display: none;
}
.img-content:hover .back-img{
    display: block;
}
.design-card{
    border:1px solid grey;
    border-radius: 8px;
    background-color: white;
}
.img-content  img{
    border-radius:8px;
}
.gold{
    color:orange;
}
.btn-add{
    padding: 9px 5px;
    border-radius: 50px;
    background-color: black;
    color:white;
    border: none;
    transition: all 0.5s ease-in-out;
}
.btn-add:hover{
    background-color: brown;
}
.pre-inc{
    border:1px solid black;
    padding: 2px 10px;
    border-radius:5px;
    background-color: green;
    color: white;
    border: none;
}
.img-content{
    position: relative;
}
.offer{
  position: absolute;
  top:0;
  left: 0;
  transform: translate(50%,50%);
}
.heart-icon a{
   color:black;
   background-color: white;
   border: 1px solid grey;
   padding: 10px;
   border-radius: 50%;
}
.heart-icon{
    position: absolute;
    top:8%;
    right:0;
    transform: translateX(0%);
    transition: all 0.5s ease-in;
    visibility: hidden;
}
.design-card:hover  .heart-icon{
      transform: translateX(-40%);
      visibility: visible;
}