.read-more{
    background-image: url('img/about-banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    width:100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}
input::placeholder{
    color: black;
    font-size: 20px;
}
.input{
    position: relative;
}
.search{
    position: absolute;
    top:0;
    right:0;
    transform: translate(-10%,20%);
}
.read1{
    border-radius: 10px;
}
.order-list1 li{
  border: 1px solid grey;
  padding: 4px 9px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.order-list1 li:hover{
    background-color: brown;
    border: none;
    color: white;
    border: 1px solid brown;
}
.insta-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.insta-card img{
    border-radius: 10px;
}

.read-left{
    position: sticky;
    top:0;
}
.jelwo-img{
    width: 100%;
    height: 100%;
     border-radius: 10px;
    overflow: hidden;
}
.jelwo-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.jelwo-img:hover .jel{
    transform: scale(1.1);
}
.article-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.art-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.article-img:hover .art-img{
    transform: scale(1.1);
}
.name input{
    width: 100%;
    border-radius: 25px;
    padding: 14px;
    border: none;
    outline: none;
    margin: 12px 0px;
    border: 1px solid grey;
}
.name input::placeholder{
    color: grey;
    font-size: 20px;
}
textarea{
    width: 100%;
    border-radius: 25px;
    padding: 14px;
    border: none;
    outline: none;
    margin: 12px 0px;
    border: 1px solid grey;
    color: grey;
}
.post{
    border: none;
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
}
.social-icon span{
    border:1px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid grey;
    transition: all 0.5s ease;
    margin-right: 4px;
}