.scroll{
    position: fixed;
    bottom: 20px;
    right:20px;
    height:20px;
    width:20px;
    background-color: white;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 3px 43px brown;
    z-index: 1;
    transition: all 0.7s ease-in-out;
    transform-origin: center;
    cursor: pointer;
}
.scroll:hover{
    background-color: black;
}
.scroll:hover i{
  color:white !important;
}