.banner-img{
    border-radius: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.banner-img img:hover{
    transform: scale(1.1);
}
.shop-content li{
  padding: 5px 0px;

}
.earing{
  border-right: 1px solid grey;
}
.banner-img-2{
    height: 100%;
}
.swiper-img{
    border:  1px solid grey;
    border-radius:5px;
    position: relative;
}
.checked{
    color: orange;
}
.swiper-button-next::after{
    display: none ;
}
.swiper-button-prev::after{
    display: none ;
}
.new{
    border:none;
    width: 50px;
    text-align: center;
    background-color: green;
    border-radius: 3px;
    position: absolute;
    top:14px;
    left:10px;
    color: white;
}
.order li{
   padding-bottom: 10px;
}
.container-section{
    padding: 0px 12px;
}
.offcanvas-header{
    background-color: black;
    color: white;
}
.offcanvas-body{
    padding:  0px;
}
.inr{
   background-color: rgb(224, 179, 187);
}
.about-banner{
    background-image: url('img/about-banner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.action-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
@media (max-width:1000px){
    .action-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
}
@media (max-width:700px){
    .action-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
}
@media (max-width:400px){
    .action-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
}
}
.about-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.about-img img{
    height: 100%;
    width: 100%;
}
.about-img img{
    border-radius: 10px;
}
.about-img img:hover{
    transform: scale(1.1);
}
.count1 span{
  box-shadow: 0px 4px 5px grey;
  padding: 7px 12px;
  background-color: white;
  color: black;
  border-radius: 2px;
}
.about-rel{
    position: relative;
}
.count1{
    position:absolute;
    display: inline;
    top:0;
    left:0;
    transform: translate(50%,100%);
}