.form1{
    padding: 50px 200px;
}
@media (max-width:800px){
    .form1{
    padding: 50px 100px;
}
}
@media (max-width:426px){
    .form1{
    padding: 50px 30px;
}
}
.toggle:hover{
    cursor: pointer;
}
.create-acc{
    background-image: url("/img/about-banner.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .head{
     font-family: "Outfit", sans-serif;
 }
@media (min-width:900px){
    .signbtn{
      width:25% !important;
}
}
input::placeholder{
    color:grey !important;
    font-size: 16px !important;

}