.card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
@media (max-width:1200px){
    .card-section{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:557px){
    .card-section{
        grid-template-columns: repeat(1,1fr);
    }
}