
.splash h2{
   font-family: "Alan Sans", sans-serif;
   ;
}
.splash img{
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
}
.splash-body{
    background-color: rgb(222, 196, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
}

.banner-1 img{
    border-radius: 50%;
    margin-left: 0px;
    animation: circle 0.9s ease-in-out infinite;
}

/* @keyframes circle {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */